# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Optional: dotenv files
.env

# Keep secrets safe
.env

# Django defaults
__pycache__/
*.pyc
db.sqlite3

# VS Code / Mac / OS stuff
.vscode/
.DS_Store

